<!-- <app-nav-bar></app-nav-bar>
<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    Is active
    <div>
      <input type="radio" id="true" name="active" value="true"
             checked>
      <label for="active">True</label>
    </div>
    <div>
      <input type="radio" id="false" name="active" value="false"
             checked>
      <label for="active">False</label>
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>

  </form> -->
