<span *ngIf="admin == 'true' ; else userBlock" >
    <app-nav-bar></app-nav-bar>
</span>
<ng-template #userBlock>
       <app-nav-bar-user></app-nav-bar-user>
</ng-template>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" style="border:1px solid #ccc">
  <div class="container">
    <h1>Add Event</h1>
    <p>Please fill in this form to add event.</p>
    <p>Fields marked with * are required</p>
  </div>

  <label for="eventName"><b>* Event Name</b> </label>
  &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="eventName" formControlName="eventName"
    placeholder="Enter Event Name">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span *ngIf="!eventForm.controls.eventName?.valid && (eventForm.controls.eventName?.dirty || 
                 eventForm.controls.eventName?.touched)">
    <small [hidden]="!eventForm.controls.eventName.errors.required" class="required">
      <font color="red"><b>Event Name is required </b></font>
    </small>
  </span>

  <br>

  <label for="isActive"><b>Active </b> </label>
  &nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-control" name="isActive" formControlName="isActive">

  <br><br>

  <button [disabled]="!eventForm.valid" type="submit" class="signupbtn">Add</button>
  <button type="reset" class="cancelbtn">Clear</button>

  <!-- &nbsp;&#160;  -->
</form>









<!-- <app-nav-bar></app-nav-bar>
<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    Is active
    <div>
      <input type="radio" id="true" name="active" value="true"
             checked>
      <label for="active">True</label>
    </div>
    <div>
      <input type="radio" id="false" name="active" value="false"
             checked>
      <label for="active">False</label>
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>

  </form> -->