<span *ngIf="admin == 'true' ; else userBlock" >
        <app-nav-bar></app-nav-bar>
    </span>
    <ng-template #userBlock>
           <app-nav-bar-user></app-nav-bar-user>
    </ng-template>
<body align="center">
    <div class="container">
        <h1>Event Management</h1>
        <p></p>
        <h2>List Of Events</h2>
        <table class="table table-hover" align="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Remove</th>
                    <th>Activate/Inactivate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{event.eventName}}</td>
                    <td *ngIf="event.isActive ; else activeBlock">Active</td>
                    <ng-template #activeBlock>
                        <td>Inactive</td>
                    </ng-template>
                    <td width="150"><button class="button" routerLink="/editevent" [queryParams]="{id: event._id}"
                            routerLinkActive="active">Edit</button></td>
                    <td width="250"><button class="delbutton" (click)="onSelect(event._id)">Remove</button></td>
                    <td *ngIf="!event.isActive ; else activeBtn" td width="250">
                        <button (click)="setStatus(event._id)" class="button">Activate</button>
                    </td>
                    <ng-template #activeBtn>
                           <td td width="320"><button class="button" (click)="setStatus(event._id)">InActivate</button></td> 
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <button routerLink="/add_event" class="addbutton">Add Event</button>
</body>