<!-- <app-nav-bar></app-nav-bar> -->
<body align="center">   

<div class="container">
    <h1>User Managment</h1>
<p></p>
<h2 class="container">List of users</h2>
<table class="table table-hover" align="center">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <!-- <th>Is Admin</th> -->
            <th>Role</th>
            <th>Edit</th>
            <th>Remove</th>
            <!-- <th>Admin</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td *ngIf="user.isAdmin ; else userBlock">Admin</td>
            <ng-template #userBlock>
                <td>User</td>
            </ng-template>
            <td><button routerLink="/admin-user-edit" [queryParams]="{id: user._id}"  routerLinkActive="active" >Edit</button></td>
            <td><button (click)="onSelect(user._id)">Remove</button></td>
            <!-- <td><input type="checkbox" id="admin" name="admin" value="true"> -->
        </tr>
        <!-- <tr>
            <td>{{andres.f_name}}</td>
            <td>{{andres.l_name}}</td>
            <td>{{andres.email}}</td>
            <td>{{andres.role}}</td>
            <td><button routerLink="/admin-user-edit" >Edit</button></td>
            <td><button >Remove</button></td>
             <td><input type="checkbox" id="admin" name="admin" value="true">
        </tr> -->
    </tbody>
</table>
</div>
<button routerLink="/signup" class="signupbtn">Add User</button>
</body>