<app-nav-bar></app-nav-bar>


<!-- <div><app-signup-from></app-signup-from></div>


<br><br><br><br><br><br><br>



<div><app-events-for-donation></app-events-for-donation></div> -->

<!-- <body> -->
    <!-- <br> -->
    <!-- <header align="right">Hi {{userName}}<br>
        <button (click)='logout()' class="regularbtn">Logout</button></header> -->
    <!-- <br><br> -->
    
    <!-- <app-user-profile></app-user-profile>  -->
     <!-- <br><br><br><br><br><br>  -->
    <router-outlet></router-outlet>
<!-- </body> -->