<span *ngIf="admin == 'true' ; else userBlock" >
        <app-nav-bar></app-nav-bar>
    </span>
    <ng-template #userBlock>
           <app-nav-bar-user></app-nav-bar-user>
    </ng-template>
<body>
    <h1 align="center">Welcome To NGO Donation Project</h1>
    <p></p>
    <h3 align="center">Please use navigation bar to access the desired page</h3>
    <!-- <br><br><br><br><br><br><br><br>
    
    <button (click)="onClick()">test</button>
    <div id="div">
        <p id="test"> this is for test</p>
    </div> -->
</body>
